<div [formGroup]= "form">
    @for (field of fields; track field.name) 
    {
        <mat-form-field class="w-full mt-4">
            <mat-label>{{ field.label }}</mat-label>
            <input
                class="w-full"
                matInput
                [formControlName]="field.name"
                [type]="field.type"
                [errorStateMatcher]="matcher"
            />
            @for (errorKey of getErrors(field.name); track $index) {
                <mat-error>
                {{ getErrorMessage(field.label, errorKey, form.get(field.name)?.errors?.[errorKey]) }}
                </mat-error>
            }
        </mat-form-field>

    }
</div>