<section class="bg-primary dark:bg-primary">
    <h1 class="text-white text-3xl font-bold">this is home component {{ title }}</h1>
    <data-table 
        [columns]="columns" 
        [rows]="rows" 
        (pageChanged)="onPageChange($event)" 
        [actions]="actions"
    >
    <ng-template [columnTemplate]="'position'" let-row="row">
        {{row.position}}
    </ng-template>

    <ng-template [columnTemplate]="'name'" let-row="row">
        {{row.name}}
    </ng-template>
    </data-table>
</section>